# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.env
.venv
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
local_settings.py

# pytest & coverage
.pytest_cache/
.coverage
htmlcov/
*.cover
coverage.xml

# VSCode / PyCharm
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# MyPy / Ruff / Static analyzers
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/